<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Borrower</title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"  rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div align="center">
<form th:action="@{/addBorrower}"  th:object="${borrower}" method="post">
  <div class="container">
   <h1 class="h3-mb3 font-weight-normal">Register Borrower</h1>
    <hr>
    <table>
    <tr>
    <td><label for="first_name"><b>FirstName</b></label></td>
    <td><input type="text" placeholder="Enter FirstName" name="first_name" required></td>
    </tr>
    <tr>
   <td> <label for="last_name"><b>LastName</b></label></td>
    <td><input type="text" placeholder="Enter LastName" name="last_name" required></td>
   </tr>
   <tr>
    <td><label for="ssn"><b>SSN</b></label></td>
   <td> <input type="text" id="ssn" placeholder="Enter SSN" name="ssn" required></td>
   </tr>
     <tr>
     <td><label for="email"><b>Email</b></label></td>
    <td><input type="email" id="ssn" placeholder="Enter Email" name="email" required></td>
     </tr>
     <tr>
    <td><label for="address"><b>Address</b></label></td>
    <td><input type="text" placeholder="Enter Address" name="address" required></td>
    </tr>
    <tr>
    <td><label for="city"><b>City</b></label></td>
    <td><input type="text" placeholder="Enter City" name="city" required></td>
    </tr>
    <tr>
    <td><label for="state"><b>State</b></label></td>
    <td><input type="text" placeholder="Enter State" name="state" required></td>
    </tr>
    <tr>
    <td><label for="contactNumber"><b>Phone</b></label></td>
    <td><input type="text" placeholder="contactNumber" name="contactNumber" required></td>
    </tr>
     </table>
    <hr>
    <button type="submit" class="registerbtn">Register</button>
    <a href="/library/" id="cancel" name="cancel" class="btn btn-default">Cancel</a>
  </div>
</form>
</div>
</body>
</html>